:root {
    --error-color: rgb(237, 78, 80);
    --base-input-border-color: rgb(0, 162, 255);
    --easy-password-color: rgb(237, 78, 80);
    --medium-password-color: rgb(255, 211, 61);
    --strong-password-color: rgb(31, 136, 61);
}