<div class="container">
    <form  [formGroup]="passwordForm">
        <app-text-input-custom
            [formControlName]="'password'"
            placeholder="Enter password">
        </app-text-input-custom>

        <app-strength-bar passwordStrength="{{passwordStrength}}"></app-strength-bar>

        <p [ngClass]="passwordStrength">
            <ng-container *ngIf="passwordForm.controls['password'].invalid && passwordForm.controls['password'].dirty">
                Password is too short
            </ng-container>
            <ng-container *ngIf="passwordForm.controls['password'].value.length >= minPasswordLength">
                Password strength: {{passwordStrength}}
            </ng-container>
        </p>
    </form>
</div>