.container {
    width: 500px;
    margin: 30px auto;
}

.error {
    color: var(--error-color);
}

.easy {
    color: var(--easy-password-color);
}

.medium {
    color: var(--medium-password-color);
}

.strong {
    color: var(--strong-password-color);
}