<div class="container">
    <form  [formGroup]="passwordForm">
        <input id="name" type="password" class="textField" placeholder="Enter password" formControlName="password" />
    </form>
    <div class="strength-scale {{passwordStrengthTypes.get(passwordStrength)}}" [ngClass]="{
        'error': passwordForm.controls['password'].invalid,
        }">
        <div class="scale-bar">
            <div class="scale-bar-item"></div>
            <div class="scale-bar-item"></div>
            <div class="scale-bar-item"></div>
        </div>
        <ng-container *ngIf="passwordForm.controls['password'].invalid && passwordForm.controls['password'].dirty">Password is too short</ng-container>
        <ng-container *ngIf="passwordForm.controls['password'].value.length >= minPasswordLength">
            Password strength: {{passwordStrengthTypes.get(passwordStrength)}}
        </ng-container>
    </div>
</div>